<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <appSettings>
        
    </appSettings>
    <system.serviceModel>
        <client>
            <endpoint
                    name="CalculationService"
                    contract="WCF_Contracts.ICalculationService"
                    binding="basicHttpBinding"
                    address="http://localhost:8010/WS"/>
            <endpoint
                    name="DispatchingService"
                    contract="WCF_Contracts.IDispatching"
                    binding="basicHttpBinding"
                    address="http://localhost:1997/WS"/>
        </client>
    </system.serviceModel>
</configuration>