<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <appSettings>
        
    </appSettings>
    <system.serviceModel>
        <services>
            <service name="WCF_Service.CalculationService">
                 <endpoint 
                         contract="WCF_Contracts.ICalculationService" 
                         binding="basicHttpBinding" 
                         address="http://localhost:8010/WS"/>
            </service>
            <service behaviorConfiguration="ExposeMetadata" name="WCF_Service.DispatchingService">
                <endpoint
                        contract="WCF_Contracts.IDispatching"
                        binding="basicHttpBinding"
                        address="http://localhost:1997/WS"/>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="ExposeMetadata">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:1998/WS"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>